In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Delhi/NCR")

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
title_tags[0:10]
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
location_tags[0:10]
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
company_tags[0:10]
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    

experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
experience_tags[0:10]
for i in experience_tags[0:10]:
    exps=i.text
    experience_required.append(exps)

In [9]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [10]:
import pandas as pd
df=pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company Name':company_name, 'Experience':experience_required})
df

,Title,Location,Company Name,Experience
0,Data Scientist,"Hybrid - Noida, Ghaziabad, New Delhi",PwC Service Delivery Center,4-7 Yrs
1,Data Scientist / Data Engineer,Gurugram,Leadventure India,2-6 Yrs
2,Data Scientist,"Delhi / NCR, Pune, Bengaluru",Wipro,6-11 Yrs
3,Data Scientist,"Noida, Bengaluru",Ericsson,5-10 Yrs
4,Data Scientist- Pune/Bangalore/ Gurugram,"Pune, Gurugram, Bengaluru",Spectral consultants,2-7 Yrs
5,Data Scientist,New Delhi,Maruti Suzuki,2-5 Yrs
6,Data Scientist / Decision Scientist,Gurugram,Maruti Suzuki,4-7 Yrs
7,Data Scientist,Hybrid - Delhi / NCR,KPMG Assurance and Consulting Services LLP,3-8 Yrs
8,Data Scientist,Gurugram,Hdfc Bank,11-14 Yrs
9,Data Scientist III,Gurugram,Girnar Insurance Brokers,4-9 Yrs

QUESTION 2

In [14]:
driver = webdriver.Chrome()

In [15]:
driver.get("https://www.shine.com/")

In [24]:
designation=driver.find_element(By.XPATH,/html/body/div/div[2]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[1]/ul/li[1]/div)
designation.send_keys("Data Analyst")

SyntaxError: invalid syntax (657108272.py, line 1)

QUESTION 3

In [25]:
driver = webdriver.Chrome()

In [26]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [30]:
rating=[]
review_summary=[]
full_review=[]

In [52]:
rating=driver.find_elements(By.CLASS_NAME,"XQDdHH Ga3i8K")

In [53]:
len(rating)

0

In [54]:
review_summary=driver.find_elements(By.CLASS_NAME,"z9E0IG")

In [55]:
len(review_summary)

4

In [56]:
full_review=driver.find_elements(By.CLASS_NAME,"ZmyHeo")

In [58]:
len(full_review)

5

In [59]:
print(len(rating), len(review_summary), len(full_review))

0 4 5

Question 4

In [60]:
driver = webdriver.Chrome()

In [61]:
driver.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

In [75]:
brands=[]
product_descriptions=[]
prices=[]

In [81]:

brand=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
brand[0:100]
for i in brand [0:100]:
    brand=i.text
    brands.append(brand)
    
product=driver.find_elements(By.XPATH,'//div[@class="hCKiGj"]/a[1]')
product[0:100]
for i in product [0:100]:
    product=i.text
    product_descriptions.append(product)
    
price=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
price[0:100]
for i in price [0:100]:
    price=i.text
    prices.append(price.replace('₹',''))

In [77]:
brands

['BRUTON',
 'BRUTON',
 'Deals4you',
 'aadi',
 'aadi',
 'U.S. POLO ASSN.',
 'BRUTON',
 'BRUTON',
 'Ifah',
 'PUMA',
 'BRUTON',
 'BRUTON',
 'PUMA',
 'aadi',
 'Zixer',
 'asian',
 'BRUTON',
 'Robbie jones',
 'PUMA',
 'Kook N Keech',
 'Dillions',
 'JUMPLITE',
 'asian',
 'ATOM',
 'asian',
 'URBANBOX',
 'Robbie jones',
 'Robbie jones',
 'VENDOZ',
 'ATOM',
 'Red Tape',
 "K' Footlance",
 'PUMA',
 'CAMPUS',
 'aadi',
 'Ifah',
 'HIGHLANDER',
 'Red Tape',
 'RUN SEVEN',
 'Red Tape']

In [78]:
product_descriptions

['Modern Trendy Sneakers For Men',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Sneakers For Women',
 'Lightweight,Comfort,Summer,Trendy,Walking,Outdoor,Styli...',
 'Sneakers For Men',
 'CLARKIN Sneakers For Men',
 'Lite Casual Shoes Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Sneakers For Women',
 'Puma Tychonic Sneakers For Men',
 'Modern Trendy Shoes Sneakers For Men',
 'Trendy & Stylish Casual Shoes Sneakers For Men',
 'Puma Tychonic Sneakers For Men',
 'Sneakers For Men',
 'High Heel Top Casual Stylish New Attractive Sneakers Sh...',
 'Casual Sneakers Shoes For Men Mexico-11 Sneakers For Me...',
 'Trendy & Stylish Casual Shoes Sneakers For Men',
 'Casual Sneakers Colour Blocked Shoes For Boys Sneakers ...',
 'PUMA Ardent Sneakers For Men',
 'Kook N Keech Men White Faux Leather CASUAL Lace Up Snea...',
 'Sneakers For Men',
 'Lightweight Comfort Summer Trendy Premium Stylish Party...',
 'Flat Sole Sneakers Shoes for all Day wear with Memory C...',
 'Spring Edge Alpha 2 Sneakers For Men',
 'Moscow-01 White Sneakers,Loafers,Chunky Shoes Sneakers ...',
 'Trending Stylish Casual Outdoor Shoes Sneakers For Men',
 'Casual Canvas High Top Boots For Boys Sneakers For Men',
 'Casual Sneakers Colour Blocked Shoes For Boys And Men S...',
 'Sneakers For Women',
 'Supernova Sneakers For Men',
 'Sneaker Casual Shoes For Women | Comfortable Cushioned ...',
 'Modern Trendy Sneakers boot Sneakers For Men Sneakers F...',
 'Anzarun Lite SlipOn Sneakers For Men',
 'RAISE Sneakers For Women',
 'Mesh |Lightweight|Comfort|Summer|Trendy|Walking|Outdoor...',
 'Sneakers For Women',
 'Sneakers For Men',
 'Casual Sneaker Shoes for Women | Soft Cushioned Insole,...',
 '( by GO21 ) Soft Insole, Slip-Resistance|Walking Casual...',
 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...']

In [82]:
prices

['₹299',
 '₹299',
 '₹399',
 '₹329',
 '₹494',
 '₹1,659',
 '₹648',
 '₹299',
 '₹699',
 '₹1,585',
 '₹299',
 '₹299',
 '₹1,920',
 '₹399',
 '₹899',
 '₹749',
 '₹299',
 '₹649',
 '₹1,665',
 '₹879',
 '₹549',
 '₹1,065',
 '₹808',
 '₹998',
 '₹746',
 '₹449',
 '₹649',
 '₹649',
 '₹599',
 '₹1,685',
 '₹1,709',
 '₹559',
 '₹1,840',
 '₹1,608',
 '₹469',
 '₹649',
 '₹570',
 '₹1,649',
 '₹1,240',
 '₹1,150',
 '299',
 '299',
 '399',
 '329',
 '494',
 '1,659',
 '648',
 '299',
 '699',
 '1,585',
 '299',
 '299',
 '1,920',
 '399',
 '899',
 '749',
 '299',
 '649',
 '1,665',
 '879',
 '549',
 '1,065',
 '808',
 '998',
 '746',
 '449',
 '649',
 '649',
 '599',
 '1,685',
 '1,709',
 '559',
 '1,840',
 '1,608',
 '469',
 '649',
 '570',
 '1,649',
 '1,240',
 '1,150',
 '299',
 '299',
 '399',
 '329',
 '494',
 '1,659',
 '648',
 '299',
 '699',
 '1,585',
 '299',
 '299',
 '1,920',
 '399',
 '899',
 '749',
 '299',
 '649',
 '1,665',
 '879',
 '549',
 '1,065',
 '808',
 '998',
 '746',
 '449',
 '649',
 '649',
 '599',
 '1,685',
 '1,709',
 '559',
 '1,840',
 '1,608',
 '469',
 '649',
 '570',
 '1,649',
 '1,240',
 '1,150']

Question 5

In [83]:
driver = webdriver.Chrome()

In [84]:
driver.get('https://www.amazon.in/')

In [85]:
titles=[]
ratings=[]
prices=[]

In [86]:
title=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-small a-spacing-top-small"]/div/h2')
title[0:10]
for i in title [0:10]:
    title=i.text
    titles.append(title)
    
rate=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
rate[0:10]
for i in rate [0:10]:
    rate=i.text
    ratings.append(rate)
    
price=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
price[0:10]
for i in price [0:10]:
    price=i.text
    prices.append(price.replace('₹',''))

In [87]:
titles

['Dell Inspiron 3530 Thin & Light Laptop, 13th Gen Intel Core i3-1305U/8GB/512GB SSD/15.6" (39.62cm) 120Hz Refresh Rate on a FHD IPS Display/Windows 11 + MSO\'21+McAfee 15 Month/Carbon Black/1.62kg',
 'Dell 15 Thin & Light Laptop, Intel Core i5-1235U Processor/16GB DDR4/512GB SSD/Intel UHD Graphics/15.6" (39.62cm) FHD Display/Windows 11 + MSO\'21/15 Month McAfee/Carbon Black/Spill-Resistant KB/1.69kg',
 '(Refurbished) Lenovo ThinkPad 8th Gen Intel Core i5 Thin & Light HD Laptop (8 GB DDR4 RAM/256 GB SSD/14" (35.6 cm) HD/Windows 11/MS Office/WiFi/Webcam/Intel Graphics)',
 'Lenovo IdeaPad Slim 1 Intel Core Celeron N4020 14" HD Thin and Light Laptop (8GB/512GB SSD/Windows 11 Home/Office 21/1Yr Warranty/Cloud Grey/1.3Kg), 82V6009LIN',
 'ASUS Vivobook Go 14 (2023), 14" (35.56 cm) FHD (1920 x 1080) 16:9, Intel Celeron N4500, Thin and Light Laptop (8GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Black/1.3 Kg), E410KA-EK013W',
 'HP Laptop 15s, AMD Ryzen 3 5300U, 15.6-inch (39.6 cm), FHD, 8GB DDR4, 512GB SSD, AMD Radeon graphics, Thin & light, Dual speakers (Win 11, MSO 2019, Silver, 1.69 kg), eq2143AU',
 'Dell 14 Thin & Light Laptop, 12th Gen Intel Core i3-1215U Processor/8GB/512GB SSD/Intel UHD Graphics/14.0"(35.56cm) FHD/Windows 11 + MSO\'21/15 Month McAfee/Spill-Resistant Keyboard/Grey/1.48kg',
 'Acer Aspire Lite AMD Ryzen 5 5500U Premium Thin and Light Laptop (16 GB RAM/512 GB SSD/Windows 11 Home) AL15-41, 39.62 cm (15.6") Full HD Display, Metal Body, Steel Gray, 1.59 KG',
 'HP Laptop 15s, 12th Gen Intel Core i5-1235U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe graphics, Backlit KB,MSO,Thin & Light, Dual speakers (Win 11, Silver, 1.69 kg), fq5330TU',
 'Lenovo IdeaPad Slim 1 AMD Ryzen 5 5500U 15.6" HD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office 2021/1Yr ADP Free/Cloud Grey/1.61Kg), 82R400ERIN']

In [88]:
ratings

['210', '83', '33', '3', '1,583', '', '401', '753', '196', '4,057']

In [89]:
prices

['39,990',
 '52,490',
 '17,799',
 '25,990',
 '22,950',
 '',
 '36,349',
 '38,212',
 '37,990',
 '16,990']

Question 6

In [90]:
driver = webdriver.Chrome()

In [91]:
driver.get('https://www.azquotes.com/top_quotes.html')

In [92]:
quotes=[]
author=[]
type_of_quotes=[]

In [93]:
quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
quote[0:100]
for i in quote [0:100]:
    quote=i.text
    quotes.append(quote)
    
authors=driver.find_elements(By.XPATH,'//div[@class="author"]')
authors[0:100]
for i in authors [0:100]:
    authors=i.text
    author.append(authors)
    
type_=driver.find_elements(By.XPATH,'//div[@class="tags"]')
type_[0:100]
for i in type_ [0:100]:
    type_=i.text
    type_of_quotes.append(type_)

In [94]:
import pandas as pd
df=pd.DataFrame({'QUOTES':quotes, 'AUTHOR':author, 'TYPE':type_of_quotes})
df

,QUOTES,AUTHOR,TYPE
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"